$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?83dfe16be88bb4e4a74c372cd06a541a") format("truetype"),
url("./flaticon.woff?83dfe16be88bb4e4a74c372cd06a541a") format("woff"),
url("./flaticon.woff2?83dfe16be88bb4e4a74c372cd06a541a") format("woff2"),
url("./flaticon.eot?83dfe16be88bb4e4a74c372cd06a541a#iefix") format("embedded-opentype"),
url("./flaticon.svg?83dfe16be88bb4e4a74c372cd06a541a#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "hand": "\f101",
    "analysis": "\f102",
    "idea-bulb": "\f103",
    "arrow-chart": "\f104",
);

.flaticon-hand:before {
    content: map-get($flaticon-map, "hand");
}
.flaticon-analysis:before {
    content: map-get($flaticon-map, "analysis");
}
.flaticon-idea-bulb:before {
    content: map-get($flaticon-map, "idea-bulb");
}
.flaticon-arrow-chart:before {
    content: map-get($flaticon-map, "arrow-chart");
}
